In [5]:
# 使用 sqlalchemy 进行数据库操作
import sqlalchemy
from sqlalchemy import Column
from sqlalchemy import Integer
from sqlalchemy import String
from sqlalchemy import Boolean
import config


metadata = sqlalchemy.MetaData()

user = sqlalchemy.Table(
    "test_user",
    metadata,
    Column("id", Integer, primary_key=True),
    Column("name", String(length=100)),
    Column("score", Integer),
)

In [3]:
# Create a database instance, and connect to it.
from databases import Database
database = Database(config.DATABASE_URL)
await database.connect()

In [4]:
# Execute
query = user.insert()
values = {"name": "wxnacy", "score": 100}
await database.execute(query=query, values=values)

7

In [15]:
# Execute many
query = user.insert()
values = [
    {"name": "wxnacy", "score": 100},
    {"name": "wen", "score": 100}
]
await database.execute_many(query=query, values=values)

In [27]:
# Fetch multiple rows
query = user.select()
rows = await database.fetch_all(query=query)
rows, type(rows)

([(1, 'Daisy', 92),
  (2, 'Neil', 87),
  (3, 'Carol', 43),
  (4, 'wxnacy', 100),
  (5, 'wxnacy', 100),
  (6, 'wen', 100)],
 list)

In [29]:
# Fetch single row
query = user.select()
row = await database.fetch_one(query=query)
row, type(row), row.id

((1, 'Daisy', 92), sqlalchemy.engine.result.RowProxy, 1)

In [20]:
# Fetch single value, defaults to `column=0`.
query = user.select()
await database.fetch_val(query=query)

1

In [22]:
# Fetch multiple rows without loading them all into memory at once
query = user.select()
async for row in database.iterate(query=query):
    print(row)

(1, 'Daisy', 92)
(2, 'Neil', 87)
(3, 'Carol', 43)
(4, 'wxnacy', 100)
(5, 'wxnacy', 100)
(6, 'wen', 100)

In [7]:
help(user.select)

Help on method select in module sqlalchemy.sql.selectable:

select(whereclause=None, **params) method of sqlalchemy.sql.schema.Table instance
    return a SELECT of this :class:`.FromClause`.

    .. seealso::

        :func:`~.sql.expression.select` - general purpose
        method which allows for arbitrary column lists.

In [10]:
from sqlalchemy import text
query = user.select(text("id = 1"))
await database.fetch_all(query=query)

[(1, 'Daisy', 92)]